@import "variables";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
  color: $white;
}

.container {
  width: 75%;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.colored {
  color: $crimson;
}

// HERO
.hero {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #000;
  background-image: url("../img/herobg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .welcome-text {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .h1 {
      font-size: 3.5em;
      margin-bottom: 0.5em;
    }

    .h2 {
      font-size: 2.5em;
      margin-bottom: 1em;
    }

    .my-work-btn {
      border: 3px solid $white;
      background-color: transparent;
      color: $white;
      font-size: 1.2em;
      letter-spacing: 1px;
      display: flex;
      align-items: center;
      padding: 0.7em 1.4em;
      width: max-content;
      cursor: pointer;
      transition: background-color 250ms, border 250ms;
      text-decoration: none;

      &:hover {
        background-color: $aqua;
        border: 3px solid $aqua;
      }

      .arrow {
        transition: transform 250ms;
        width: 32px;
        margin-left: 1em;
      }

      &:hover .arrow {
        transform: rotate(90deg);
      }
    }
  }
}

// NAVIGATION
.navigation {
  background-color: $blackblue;
  border-bottom: 3px solid $lightblue;

  .navigation-list {
    list-style-type: none;
    padding: 0.7em 0;

    a {
      color: $white;
      text-decoration: none;
    }

    &__item {
      display: inline-block;
      font-size: 1.5em;
      text-transform: uppercase;
      cursor: pointer;
      transition: color 500ms;
      margin-right: 1em;

      &--active {
        color: $crimson;
      }

      &:hover {
        color: $crimson;
      }
    }
  }

  .hamburger {
    display: none;
  }
}

// PORTFOLIO
.portfolio {
  background-color: $lightgray;
  padding: 5em 0;

  .h1 {
    color: $darkergray;
    text-transform: uppercase;
    font-size: 2.8em;
    position: relative;
    text-align: center;

    &::after {
      position: absolute;
      width: 90px;
      height: 4px;
      background-color: $darkergray;
      content: "";
      display: block;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .flex {
    display: flex;
    flex-direction: column;
  }

  .filters {
    display: flex;
    margin: 5em 0;
    justify-content: center;

    &__btn {
      cursor: pointer;
      margin: 0 5em;
      border: none;
      color: $darkgray;
      text-transform: uppercase;
      font-size: 1.3em;
      padding: 0.5em 2em;
      transition: background-color 500ms, color 500ms;
      background-color: transparent;

      &--active {
        background-color: $crimson;
        color: $white;
      }
    }
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    justify-items: center;
    align-self: center;

    &__item {
      max-width: 400px;
      width: 400px;
      height: 350px;
      background-color: #808080;
      cursor: pointer;
      position: relative;

      &:first-child,
      &:last-child {
        background-image: url("../img/project1.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }

      &:nth-child(2),
      &:nth-child(3) {
        background-image: url("../img/project2.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }

      &:hover .grid-overlay {
        opacity: 1;
      }
    }

    &-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $blackblue;
      opacity: 0;
      transition: opacity 500ms;

      &__h2 {
        text-transform: uppercase;
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translateX(-50%);
      }

      &__explore-btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        border: 3px solid $crimson;
        padding: 0.5em 1em;
        transition: background-color 500ms;

        &:hover {
          background-color: $crimson;
        }
      }
    }
  }
}

// ABOUT
.about {
  padding: 5em 0;

  .h1 {
    color: $darkergray;
    text-transform: uppercase;
    font-size: 2.8em;
    position: relative;
    text-align: center;

    &::after {
      position: absolute;
      width: 90px;
      height: 4px;
      background-color: $darkergray;
      content: "";
      display: block;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .about-my-work {
    display: flex;
    margin: 6em 0;
    justify-content: center;

    &__item {
      max-width: 25%;
      display: flex;
      flex-direction: column;
      justify-self: center;
      align-items: center;
      color: $darkgray;
      text-align: center;
      padding: 2em 0.8em;

      .hexa {
        background-color: $lightblue;
        clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
        position: relative;
        width: 110px;
        height: 95px;
        margin-bottom: 1.5em;
      }

      img {
        width: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .about-me {
    display: flex;
    color: $darkgray;

    &__left {
      width: 50%;
      padding: 3em 4.3em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      .me {
        margin: 1em 0 1.5em;
      }

      .h2 {
        margin-bottom: 0.5em;
      }

      a {
        text-decoration: none;
      }

      .colored {
        cursor: pointer;
      }
    }

    &__right {
      width: 50%;
      padding: 0 0.5em;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }

    .right__item {
      width: 80%;
      position: relative;
      display: flex;
      cursor: pointer;

      &:hover .skill-logo {
        filter: grayscale(0%);
      }
    }

    .skill-name {
      background-color: $lightblue;
      color: $white;
      font-weight: bold;
      min-width: 100px;
      text-align: center;
      padding: 3px 0;
      z-index: 1;
    }

    .filling {
      background-color: #009fa5;
      width: 100%;
    }

    .skill-logo {
      background-color: $white;
      padding: 0 1em;
      filter: grayscale(100%);
      transition: filter 250ms, background-color 250ms;
    }

    .vue {
      position: relative;

      &::before {
        position: absolute;
        content: "In progress...";
        color: $white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

// CONTACT
.contact {
  background-color: #252934;
  clip-path: polygon(50% 10%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);
  position: relative;
  min-height: 800px;

  &-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    .h1 {
      color: $white;
      text-transform: uppercase;
      font-size: 2.8em;
      position: relative;
      text-align: center;
      margin-bottom: 0.5em;

      &::after {
        position: absolute;
        width: 90px;
        height: 4px;
        background-color: $white;
        content: "";
        display: block;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .p {
      color: $lightblue;
      margin-bottom: 2em;
      font-weight: bold;
    }

    .form {
      display: flex;
      flex-direction: column;

      .name,
      .email,
      .textarea {
        background-color: #1a242c;
        color: $white;
        margin: 2px 0;
        padding: 0.6em;
        width: 500px;
        border: none;

        &::placeholder {
          font-family: "Raleway", sans-serif;
        }
      }

      .textarea {
        resize: none;
      }

      .submit-btn {
        background-color: transparent;
        border: 3px solid $white;
        color: $white;
        cursor: pointer;
        align-self: flex-end;
        padding: 0.8em 2em;
        margin: 5px 0;
        transition: background-color 500ms, border 500ms;
        font-weight: bold;

        &:hover {
          background-color: $aqua;
          border: 3px solid $aqua;
        }
      }
    }
  }
}

// FOOTER
.footer {
  background-color: $blackblue;
  padding: 5em 0 3em;
  text-align: center;
  position: relative;

  .go-top {
    position: absolute;
    background-color: $crimson;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    left: 50%;
    top: -10%;
    transform: translateX(-50%);
  }

  .socials {
    display: flex;
    justify-content: center;
    margin: 2em 0;

    &__item {
      margin: 0 1.5em;
      cursor: pointer;
      background-color: #262f38;
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-self: center;
      transition: background-color 500ms;

      img {
        width: 25px;
        height: 25px;
        transition: background-color 500ms;
      }

      &:hover,
      &:hover img {
        background-color: $aqua;
      }
    }
  }

  .outro {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: $darkergray;
  }
}

// MEDIA QUERIES
@media screen and (max-width: 1150px) {
  .portfolio {
    .container {
      width: 100%;
    }

    .filters {
      &__btn {
        margin: 0 2.5em;
      }
    }
  }

  .about {
    .container {
      width: 100%;
    }
  }

  .contact {
    .container {
      width: 100%;
    }
  }
}

@media screen and (max-width: 900px) {
  .hero .welcome-text {
    padding: 0 2.5em 0 1.5em;

    .h1 {
      font-size: 2.5em;
    }

    .h2 {
      font-size: 1.8em;
    }

    .my-work-btn {
      font-size: 1em;
    }
  }

  .portfolio {
    .grid {
      grid-template-columns: 1fr;
    }
  }

  .about {
    &-my-work {
      display: grid !important;
      grid-template-columns: repeat(2, 1fr);
      padding: 0 5em;

      &__item {
        p {
          width: 350px;
        }
      }
    }

    &-me {
      flex-direction: column;

      &__left {
        width: 100% !important;
        padding: 0 4.3em 4em !important;
      }

      &__right {
        width: 100% !important;
        align-items: center;
      }

      .right__item {
        margin: 1em 0;
      }
    }
  }
}

@media screen and(max-width: 760px) {
  .about {
    &-my-work__item {
      p {
        width: 200px;
      }
    }
  }
}

@media screen and(max-width: 610px) {
  .hero .welcome-text {
    .h1 {
      font-size: 1.6em;
    }

    .h2 {
      font-size: 1.2em;
    }

    .my-work-btn {
      font-size: 0.8em;
    }
  }

  .navigation {
    .container {
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    &-list {
      height: 0;
      overflow: hidden;
      flex-direction: column;
      align-self: flex-start;
      padding: 0 !important;
      transition: all 500ms;

      &__item {
        margin: 5px 0;
        width: 100vw;
        padding: 10px 0;
      }
    }

    .show {
      height: 265.6px;
      padding: 0.7em 0 !important;
    }

    .hamburger {
      cursor: pointer;
      display: flex;
      padding: 10px;
    }
  }

  .portfolio {
    .filters__btn {
      margin: 0;
    }
  }

  .contact {
    .form {
      .name,
      .email,
      .textarea {
        width: 90vw;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .portfolio {
    .h1 {
      font-size: 2em;
    }

    .filters {
      flex-direction: column;
      margin-bottom: 1em;

      &__btn {
        width: 50%;
        align-self: center;
        margin: 0.3em 0;
      }
    }

    .grid {
      width: 100%;
      justify-content: center;

      &__item {
        width: 100%;
        max-height: 350px;
        height: 250px;
      }
    }
  }

  .about {
    .h1 {
      font-size: 2em;
    }

    &-my-work__item {
      .hexa {
        width: 90px !important;
        height: 75px !important;
      }

      h2 {
        font-size: 1.2em;
      }

      p {
        font-size: 0.9em;
        width: 110px;
      }
    }

    &-me__right {
      .right__item {
        .skill-name {
          width: 100%;
        }

        .filling {
          display: none;
        }

        .skill-logo {
          display: none;
        }

        .vue::before {
          display: none;
        }
      }
    }
  }

  .contact {
    .h1 {
      font-size: 2em;
    }

    .p {
      font-size: 0.9em;
    }
  }
}
