*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
  color: #fff;
}

.container {
  width: 75%;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.colored {
  color: #e31b6d;
}

.hero {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #000;
  background-image: url("../img/herobg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero .welcome-text {
  width: 100%;
  position: absolute;
  top: -50vh;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: top 750ms;
  transition: top 750ms;
}

.hero .welcome-text .h1 {
  font-size: 3.5em;
  margin-bottom: 0.5em;
}

.hero .welcome-text .h2 {
  font-size: 2.5em;
  margin-bottom: 1em;
}

.hero .welcome-text .my-work-btn {
  border: 3px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 1.2em;
  letter-spacing: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.7em 1.4em;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  cursor: pointer;
  -webkit-transition: background-color 250ms, border 250ms;
  transition: background-color 250ms, border 250ms;
  text-decoration: none;
}

.hero .welcome-text .my-work-btn:hover {
  background-color: #00f7ff;
  border: 3px solid #00f7ff;
}

.hero .welcome-text .my-work-btn .arrow {
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
  width: 32px;
  margin-left: 1em;
}

.hero .welcome-text .my-work-btn:hover .arrow {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.navigation {
  background-color: #1b242f;
  border-bottom: 3px solid #04c2c9;
}

.navigation .navigation-list {
  list-style-type: none;
  padding: 0.7em 0;
}

.navigation .navigation-list a {
  color: #fff;
  text-decoration: none;
}

.navigation .navigation-list__item {
  display: inline-block;
  font-size: 1.5em;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: color 500ms;
  transition: color 500ms;
  margin-right: 1em;
}

.navigation .navigation-list__item--active {
  color: #e31b6d;
}

.navigation .navigation-list__item:hover {
  color: #e31b6d;
}

.navigation .hamburger {
  display: none;
}

.portfolio {
  background-color: #e6e6e6;
  padding: 5em 0;
  overflow: hidden;
}

.portfolio .h1 {
  color: #444649;
  text-transform: uppercase;
  font-size: 2.8em;
  position: relative;
  text-align: center;
}

.portfolio .h1::after {
  position: absolute;
  width: 90px;
  height: 4px;
  background-color: #444649;
  content: "";
  display: block;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.portfolio .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio .filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5em 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio .filters__btn {
  cursor: pointer;
  margin: 0 5em;
  border: none;
  color: #616161;
  text-transform: uppercase;
  font-size: 1.3em;
  padding: 0.5em 2em;
  -webkit-transition: background-color 500ms, color 500ms;
  transition: background-color 500ms, color 500ms;
  background-color: transparent;
}

.portfolio .filters__btn--active {
  background-color: #e31b6d;
  color: #fff;
}

.portfolio .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
  justify-items: center;
  -ms-grid-row-align: center;
      align-self: center;
}

.portfolio .grid__item {
  max-width: 400px;
  width: 400px;
  height: 350px;
  background-color: #e6e6e6;
  cursor: pointer;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.portfolio .grid__item:first-child {
  background-image: url("../img/conference.png");
}

.portfolio .grid__item:nth-child(2) {
  background-image: url("../img/weather-app.png");
}

.portfolio .grid__item:nth-child(3) {
  background-image: url("../img/weather-app.png");
}

.portfolio .grid__item:last-child {
  background-image: url("../img/dashboard.png");
}

.portfolio .grid__item:hover .grid-overlay {
  opacity: 1;
}

.portfolio .grid-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1b242f;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
}

.portfolio .grid-overlay__h2 {
  text-transform: uppercase;
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.portfolio .grid-overlay__explore-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border: 3px solid #e31b6d;
  padding: 0.5em 1em;
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
}

.portfolio .grid-overlay__explore-btn:hover {
  background-color: #e31b6d;
}

.about {
  border-top: 2px solid #fff;
  padding: 5em 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#e6e6e6), to(#fff));
  background: linear-gradient(to bottom, #e6e6e6 0%, #fff 100%);
}

.about .h1 {
  color: #444649;
  text-transform: uppercase;
  font-size: 2.8em;
  position: relative;
  text-align: center;
}

.about .h1::after {
  position: absolute;
  width: 90px;
  height: 4px;
  background-color: #444649;
  content: "";
  display: block;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.about .about-my-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 6em 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .about-my-work__item {
  max-width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #616161;
  text-align: center;
  padding: 2em 0.8em;
}

.about .about-my-work__item .hexa {
  background-color: #04c2c9;
  -webkit-clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
          clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
  position: relative;
  width: 110px;
  height: 95px;
  margin-bottom: 1.5em;
}

.about .about-my-work__item img {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.about .about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #616161;
}

.about .about-me__left {
  width: 50%;
  padding: 3em 4.3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.about .about-me__left .me {
  margin: 1em 0 1.5em;
}

.about .about-me__left .h2 {
  margin-bottom: 0.5em;
}

.about .about-me__left a {
  text-decoration: none;
}

.about .about-me__left .colored {
  cursor: pointer;
}

.about .about-me__right {
  width: 50%;
  padding: 0 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.about .about-me .right__item {
  width: 80%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.about .about-me .right__item:hover .skill-logo {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.about .about-me .skill-name {
  background-color: #04c2c9;
  color: #fff;
  font-weight: bold;
  min-width: 100px;
  text-align: center;
  padding: 3px 0;
  z-index: 1;
}

.about .about-me .filling {
  background-color: #009fa5;
  width: 100%;
}

.about .about-me .skill-logo {
  background-color: #fff;
  padding: 0 1em;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: background-color 250ms, -webkit-filter 250ms;
  transition: background-color 250ms, -webkit-filter 250ms;
  transition: filter 250ms, background-color 250ms;
  transition: filter 250ms, background-color 250ms, -webkit-filter 250ms;
}

.about .about-me .vue {
  position: relative;
}

.about .about-me .vue::before {
  position: absolute;
  content: "In progress...";
  color: #fff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.contact {
  background-color: #252934;
  -webkit-clip-path: polygon(50% 10%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);
          clip-path: polygon(50% 10%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);
  position: relative;
  min-height: 800px;
}

.contact-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.contact-text .h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 2.8em;
  position: relative;
  text-align: center;
  margin-bottom: 0.5em;
}

.contact-text .h1::after {
  position: absolute;
  width: 90px;
  height: 4px;
  background-color: #fff;
  content: "";
  display: block;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.contact-text .p {
  color: #04c2c9;
  margin-bottom: 2em;
  font-weight: bold;
}

.contact-text .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-text .form .name,
.contact-text .form .email,
.contact-text .form .textarea {
  background-color: #1a242c;
  color: #fff;
  margin: 2px 0;
  padding: 0.6em;
  width: 500px;
  border: none;
}

.contact-text .form .name::-webkit-input-placeholder,
.contact-text .form .email::-webkit-input-placeholder,
.contact-text .form .textarea::-webkit-input-placeholder {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}

.contact-text .form .name:-ms-input-placeholder,
.contact-text .form .email:-ms-input-placeholder,
.contact-text .form .textarea:-ms-input-placeholder {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}

.contact-text .form .name::-ms-input-placeholder,
.contact-text .form .email::-ms-input-placeholder,
.contact-text .form .textarea::-ms-input-placeholder {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}

.contact-text .form .name::placeholder,
.contact-text .form .email::placeholder,
.contact-text .form .textarea::placeholder {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}

.contact-text .form .textarea {
  resize: none;
}

.contact-text .form .submit-btn {
  background-color: transparent;
  border: 3px solid #fff;
  color: #fff;
  cursor: pointer;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 0.8em 2em;
  margin: 5px 0;
  -webkit-transition: background-color 500ms, border 500ms;
  transition: background-color 500ms, border 500ms;
  font-weight: bold;
}

.contact-text .form .submit-btn:hover {
  background-color: #00f7ff;
  border: 3px solid #00f7ff;
}

.footer {
  background-color: #1b242f;
  padding: 5em 0 3em;
  text-align: center;
  position: relative;
}

.footer .go-top {
  position: absolute;
  background-color: #e31b6d;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  left: 50%;
  top: -10%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.footer .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2em 0;
}

.footer .socials__item {
  margin: 0 1.5em;
  cursor: pointer;
  background-color: #262f38;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
}

.footer .socials__item img {
  width: 25px;
  height: 25px;
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
}

.footer .socials__item:hover,
.footer .socials__item:hover img {
  background-color: #00f7ff;
}

.footer .outro {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #444649;
}

@media screen and (max-width: 1150px) {
  .portfolio .container {
    width: 100%;
  }
  .portfolio .filters__btn {
    margin: 0 2.5em;
  }
  .about .container {
    width: 100%;
  }
  .contact .container {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .hero .welcome-text {
    padding: 0 2.5em 0 1.5em;
  }
  .hero .welcome-text .h1 {
    font-size: 2.5em;
  }
  .hero .welcome-text .h2 {
    font-size: 1.8em;
  }
  .hero .welcome-text .my-work-btn {
    font-size: 1em;
  }
  .portfolio .grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .about-my-work {
    display: -ms-grid !important;
    display: grid !important;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    padding: 0 5em;
  }
  .about-my-work__item p {
    width: 350px;
  }
  .about-me {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-me__left {
    width: 100% !important;
    padding: 0 4.3em 4em !important;
  }
  .about-me__right {
    width: 100% !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-me .right__item {
    margin: 1em 0;
  }
  .contact {
    min-height: 600px;
  }
  .footer .socials__item {
    width: 45px;
    height: 45px;
  }
}

@media screen and (max-width: 760px) {
  .about-my-work__item p {
    width: 200px;
  }
}

@media screen and (max-width: 610px) {
  .hero .welcome-text .h1 {
    font-size: 1.6em;
  }
  .hero .welcome-text .h2 {
    font-size: 1.2em;
  }
  .hero .welcome-text .my-work-btn {
    font-size: 0.8em;
  }
  .navigation .container {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .navigation-list {
    height: 0;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: start;
        align-self: flex-start;
    padding: 0 !important;
    -webkit-transition: all 500ms;
    transition: all 500ms;
  }
  .navigation-list__item {
    margin: 5px 0;
    width: 100vw;
    padding: 10px 0;
  }
  .navigation .show {
    height: 265.6px;
    padding: 0.7em 0 !important;
  }
  .navigation .hamburger {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
  }
  .portfolio .filters__btn {
    margin: 0;
  }
  .contact .form .name,
  .contact .form .email,
  .contact .form .textarea {
    width: 90vw;
  }
}

@media screen and (max-width: 500px) {
  .portfolio .h1 {
    font-size: 2em;
  }
  .portfolio .filters {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 1em;
  }
  .portfolio .filters__btn {
    width: 50%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 0.3em 0;
  }
  .portfolio .grid {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .portfolio .grid__item {
    width: 100%;
    max-height: 350px;
    height: 250px;
    background-position: top !important;
  }
  .about .h1 {
    font-size: 2em;
  }
  .about-my-work__item .hexa {
    width: 90px !important;
    height: 75px !important;
  }
  .about-my-work__item h2 {
    font-size: 1.2em;
  }
  .about-my-work__item p {
    font-size: 0.9em;
    width: 110px;
  }
  .about-me__right .right__item .skill-name {
    width: 100%;
  }
  .about-me__right .right__item .filling {
    display: none;
  }
  .about-me__right .right__item .skill-logo {
    display: none;
  }
  .about-me__right .right__item .vue::before {
    display: none;
  }
  .contact .h1 {
    font-size: 2em;
  }
  .contact .p {
    font-size: 0.9em;
  }
}

@media screen and (min-width: 900px) {
  .about .skill-name {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 32px;
  }
}
/*# sourceMappingURL=style.css.map */